NODE_ENV=development

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/hireflow"

REDIS_HOST=localhost
REDIS_PORT=6379

AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_REGION=your_aws_region
AWS_S3_BUCKET_NAME=your_aws_s3_bucket_name
RESEND_API_KEY=your_resent_api_key
EMAIL_FROM=your_email_form # eg. noreply@xyz.in