PORT=5000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=hireflow

REDIS_HOST=localhost
REDIS_PORT=6379

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/hireflow"
REDIS_URL=redis://localhost:6379

ACCESS_TOKEN_SECRET=your_access_token_secret
REFRESH_TOKEN_SECRET=your_refresh_token_secret
ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d

AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_REGION=your_aws_region
AWS_S3_BUCKET_NAME=your_aws_s3_bucket_name
RESEND_API_KEY=your_resent_api_key
EMAIL_FROM=your_email_form # eg. noreply@xyz.in
SENTRY_DSN=your_sentry_dns